html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* creem un enllaç al contingut principal*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;       
}