:root {
    --gris: #f6f6f6;
    --quasi-negre: #1d1d1d;
    --blau: #8cb7c9;
    
    --sense-serif: Verdana, Tahoma, Arial, sans-serif;
    --amb-serif: Georgia, 'Times New Roman', serif;
}

/* resetegem la configuració*/
body {
  margin: 0;             
  font-family: var(--sense-serif);
  color: var(--quasi-negre);
  line-height: 1.5;      
}


/* definim el contenedor del contingut */
.container {
  max-width: 80%;     
  margin: 0 auto;       
  padding: 0 1rem;      
}

header{
  text-align: center;
}
header nav{
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid var(--blau);
}

header nav li:first-child{
  border-bottom: 2px solid var(--blau);

margin-bottom: 1em;
}
header nav a {
  text-decoration: none;
  color: var(--quasi-negre);
}
header nav a:hover {
  color: var(--blau);
}
header nav ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

nav a.actiu {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  color: inherit;      /* o tria un color específic si vols */
  font-weight: 700;    /* opcional */
}



footer {
  background-color: var(--gris);
  text-align: center;
  padding: 20px 0px;
  width: 100%;
  font-size: 0.8rem;
}

.autor{
  font-size: 1rem;
  font-weight: 700;
}

/* creem un enllaç al contingut principal*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  text-decoration: none;
}
.skip-link:focus {
  top: 0;       
}


/* Configurem la graella */
.graella {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

/* Configurem la targeta */
.targeta {
  display: block;
  text-decoration: none;
  color:inherit;
  border: 1px solid #ddd;
  border-radius: .5rem;
  padding: .5rem;
  background: #fff;
}
.targeta:hover {
  transform: translateY(-3px);
}

/* Definim imatges recepta */
.targeta img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: .25rem;
}

/* Configurem títol de recepta */
.targeta h2 {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}



.imatge-principal { 
  margin: 0; 
}

.imatge-principal img { 
  width: 30%; 
  height: auto; 
  border-radius: .5rem;
}
.imatge-principal figcaption { 
  font-size: .6em; 
  color: #555;
}


.graella img { 
  width: 100%; 
  height: auto; 
  border-radius: 
  .5rem; 
}



.video iframe{ 
    border: 0;
    width: 50%;
    height: auto;
    aspect-ratio: 16 / 9;
}
