/* definim variables globals per color i tipografia */
:root {
    --gris: #f6f6f6;
    --quasi-negre: #1d1d1d;
    --blau: #8cb7c9;
    
    --sense-serif: Verdana, Tahoma, Arial, sans-serif;
    --amb-serif: Georgia, 'Times New Roman', serif;
}

html {
  overflow-y: scroll
}

/* resetegem la configuració */
body {
  margin: 0;             
  font-family: var(--sense-serif);
  color: var(--quasi-negre);
  line-height: 1.5;      
}


/* definim el contenedor del contingut */
.container {
  max-width: 80%;     
  margin: 0 auto;       
  padding: 0 1rem;      
}

/* centrem el menú */
header{
  text-align: center;
}

/* posem text en majúscules i una ratlla a dalt i baix del mení*/
header nav{
  text-transform: uppercase;
  border-bottom: 2px solid var(--blau);
}
header nav li:first-child{
  border-bottom: 2px solid var(--blau);

  margin-bottom: 1em;
}

/* treiem la vinyeta i configurem el text del menú */
header nav a {
  text-decoration: none;
  color: var(--quasi-negre);
}
header nav a:hover {
  color: var(--blau);
}
header nav ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

/* configurem el menú per diferencia la pàgina activa */
nav a.actiu {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  color: inherit;     
  font-weight: 700;    
}

/* definim el peu de pàgina */
footer {
  background-color: var(--gris);
  text-align: center;
  padding: 20px 0px;
  width: 100%;
  font-size: 0.8rem;
  margin-top: 40px;
}
.autor{
  font-size: 1rem;
  font-weight: 700;
}

/* creem un enllaç al contingut principal i el desplacem fora de la pantalla*/
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  text-decoration: none;
}
.skip-link:focus {
  top: 0;       
}

/* Configurem la graella per mostrar imatges*/
.graella {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: grid;
  gap: 1rem;
  /*grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));*/
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.graella img { 
  width: 100%; 
  height: auto; 
  border-radius: 
  .5rem; 
}

/* Configurem la targeta que es mostra dins la graella*/
.targeta {
  display: block;
  text-decoration: none;
  color:inherit;
  border: 1px solid #ddd;
  border-radius: .5rem;
  padding: .5rem;
  background: #fff;
}
.targeta:hover {
  transform: translateY(-3px);
}

/* configurem la imatge de la targeta */
.targeta img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: .25rem;
}

/* Configurem el títol de la targeta */
.targeta h2 {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

/* configurem al imatge principal */
.imatge-principal { 
  margin: 0; 
}
.imatge-principal img { 
  width: 30%; 
  height: auto; 
  border-radius: .5rem;
}
.imatge-principal figcaption { 
  font-size: .8rem; 
  color: #555;
}

/* configurem el video */
.video iframe{ 
    border: 0;
    width: 50%;
    height: auto;
    aspect-ratio: 16 / 9;
}

blockquote{
    /* Vora citacions blava  solida de 4px*/
    border-left: 4px solid var(--blau);
    /* Posem espai entre la barra i el text */
    padding-left: 10px;
    font-weight: 700;
}

/* Responsibe per a mobil <= 600px */
@media (max-width: 600px) {

  /* fem el logo més petit */
  header img {
    width: 60px;
    height: auto;
  }
  /* treiem espai del footer */
  footer {
    margin-top: 10px;
    padding: 10px;
    font-size: 0.7rem;
  }

  /* fem que sol es mostri una imatge */
  .graella {
    grid-template-columns: 1fr !important;
    gap: 0.5rem;
  }

  /* fem que la imatge principal ocupi tot l'ample */
  .imatge-principal img {
    width: 100% !important;
  }

  /* fem que el video ocupi tot l'ample */
  .video-container,
  .video iframe {
    width: 100% !important;
    height: auto;
  }
}

/* responsibe per tauletes (601px - 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {

  /* fem que la imatge principal ocupi 1/3 de pantalla */
  .imatge-principal img {
    width: 33%;
  }

  /* fem que sol es mostrin dos imatges */
  .graella {
    grid-template-columns: repeat(2, 1fr);
  }

  /* fem que el footer ocupi menys espau*/
  footer {
    margin-top: 10px;
    padding: 10px;
    font-size: 0.7rem;
  }
    /* fem que el video ocupi tot l'ample */
  .video-container,
  .video iframe {
    width: 100% !important;
    height: auto;
  }
}
